<html>
  <head>
    <title>Long Shadow Text Generator</title>
    <link rel="stylesheet" href="public/info.css">
  </head>
  <body>
    <h1 id="header">
     Name should not contain more than 7 letters
    </h1><br>
  </body>
  <script src="public/app.js"></script>
</html>