<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" placeholder="Enter Yout Name">
  </div>
  <button type="submit" class="btn btn-primary">Generate</button>
</form>