<html>
  <head>
    <title>Long Shadow Text Generator</title>
    <link rel="stylesheet" href="public/styles.css">
  </head>
  <body>
    <p id="longshadow">
      <%= data %>
    </p>
  </body>
  <script src="public/app.js"></script>
</html>