<html>
  <head>
    <title>Long Shadow Text Generator</title>
    <link rel="stylesheet" href="public/info.css">
  </head>
  <body>
    <h1 id="header">
     Enter Your Name As A Parameter
    </h1>
    <h2 id="link">
      <code>
       https://fancy-text-generator.herokuapp.com/YOUR_NAME
      </code>
    </h2>
  </body>
  <script src="public/app.js"></script>
</html>
